body{
  background-color: #CCF4EA;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

ul,
p{
font-family: 'Gothic A1', sans-serif;
font-weight: bold;
}

.header{
  text-align: center
}

hr{
  color: #000000;
  border: 2px solid black;
}

img{
  max-width: 100%;
  height: auto;
}

#myResume{
  text-align: center;
}

.nav{
  font-size: 20px;
}

.nav-link:hover{
  background-color: black;
}

.clips{
  text-align: center;
}

.connect{
  text-align: center;
}

.side-note{
  font-family: 'Gothic A1', sans-serif
}

@media (min width: 450px){
  h1{
    font-size: 6em;
  }
  .nav{
    margin-bottom: 40px;
  }
}
